// CHECKBOX
.custom-control{
    min-height: 40px;
    padding-left: 30px;
    .custom-control-input{
        &:focus{
            & ~ .custom-control-label::before{
                box-shadow: 0 0 0 0 transparent;
            }
        }

        &:checked ~ .custom-control-label::before{
            background: #fff;
        }
    }

    .custom-control-label{
        line-height: 36px;
        padding-left: 10px;
        
        &::after,
        &::before{
            height: 30px;
            width: 30px;
            left: -30px;
        }
        &::before{
            background: #ffffff;
            border:2px solid $bg-primary;
        }
    }

    &.custom-radio{
        .custom-control-input:checked ~ .custom-control-label::after {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%2342505C'/%3E%3C/svg%3E");
        }
    }

    &.custom-checkbox{
        .custom-control-input:checked ~ .custom-control-label {
            &::after{
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2342505C' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
            }
        }
    }

    &.custom-simple{
        .custom-control-label{
            &::after,
            &::before{
                border-color: #42505C;
                border-radius: 6px;
            }
        }
        
        .custom-control-input:checked ~ .custom-control-label {
            &::after{
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2342505C' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
            }
        }

        &.custom-checkbox{
            .custom-control-input:checked ~ .custom-control-label {
                &::before{
                    background: transparent;
                }
            }
        }
    }

    &.custom-sm{
       /* min-height: 20px;*/
        padding-left: 20px;
        .custom-control-label{
            line-height: 20px;
            &:after,
            &:before{
                height: 20px;
                width: 20px;
                left: -20px;
                top: 0;
            }
        }
    }
}


// INPUT SWITCH
.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 20px;
    margin-bottom: 0;
    input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .slider {
            background-color: #ffc688;
            &:before {
                transform: translateX(35px);
                background-color: #eb7d00;
                left: -2px;
            }
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #afafaf;
        transition: .4s;
        border-radius: 34px;
        /*height: 17px;*/
        height: 30px;
        &:before {
            position: absolute;
            content: "";
           /* height: 28px;*/
            height: 26px;
            width: 26px;
            left: 2px;
            /*width: 28px;
            left: -1px;
            bottom: -6px;*/
            bottom: 2px;
            background-color: #FFF;
            transition: .4s;
            border-radius: 50%;
        }
    }

}
