// SIZE 
$size-default:16;

// RESOLUTION
$xxl-width: 1600px;
$xl-width: 1200px;
$lg-width: 992px;
$md-width: 768px;
$sm-width: 576px;

// UNTIL SM
@mixin sm-down {
  @media (max-width: $sm-width - 1) {
    @content;
  }
}

// SM UP
@mixin sm-up {
  @media (min-width: $sm-width) {
    @content;
  }
}

// UNTIL MD
@mixin md-down {
  @media (max-width: $md-width - 1) {
    @content;
  }
}

// MD UP
@mixin md-up {
  @media (min-width: $md-width) {
    @content;
  }
}

// UNTIL LG
@mixin lg-down {
  @media (max-width: $lg-width - 1) {
    @content;
  }
}

// LG UP
@mixin lg-up {
  @media (min-width: $lg-width) {
    @content;
  }
}

// UNTIL XL
@mixin xl-down {
  @media (max-width: $xl-width - 1) {
    @content;
  }
}

// XL UP
@mixin xl-up {
  @media (min-width: $xl-width) {
    @content;
  }
}

// UNTIL XXL
@mixin xxl-down {
    @media (max-width: $xxl-width - 1) {
      @content;
    }
  }
  
  // XXL UP
  @mixin xxl-up {
    @media (min-width: $xxl-width) {
      @content;
    }
  }

// ANIMATION
@mixin addEase ($prop: all, $time:.2s, $type: ease){
  transition: $prop $time $type;
}

// PLACEHOLDER
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

// FONT-SIZE
@mixin fontSize($size) {
    font-size: $size/$size-default+rem
}  

// GRID 
@include xxl-up{
    .col-xxl-auto{
        flex:0 0 auto;
        width: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}